<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b7fdc8">  <td>23/12/29 20:47:16</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="patch_tc1.executor()[pri:0, instance:Test_package.patch_tc1@42530531]">executor</td> 
  <td>TestNG-test=parallel_TestExecution-1@159917166</td>   <td></td> </tr>
<tr bgcolor="b7ae70">  <td>23/12/29 20:47:15</td>   <td>-601</td> <td>&nbsp;</td><td title="&gt;&gt;post_TC1.Test_Setup()[pri:0, instance:Test_package.post_TC1@51fadaff]">&gt;&gt;Test_Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@434437292</td>   <td></td> </tr>
<tr bgcolor="b7ae70">  <td>23/12/29 20:47:16</td>   <td>21</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="post_TC1.executor()[pri:0, instance:Test_package.post_TC1@51fadaff]">executor</td> 
  <td>TestNG-test=parallel_TestExecution-2@1643299824</td>   <td></td> </tr>
<tr bgcolor="b7ae70">  <td>23/12/29 20:47:20</td>   <td>3891</td> <td>&nbsp;</td><td title="&lt;&lt;post_TC1.Test_Teardown()[pri:0, instance:Test_package.post_TC1@51fadaff]">&lt;&lt;Test_Teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@434437292</td>   <td></td> </tr>
<tr bgcolor="66b3e6">  <td>23/12/29 20:47:16</td>   <td>21</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="put_tc1.executor()[pri:0, instance:Test_package.put_tc1@401f7633]">executor</td> 
  <td>TestNG-test=parallel_TestExecution-3@1098568947</td>   <td></td> </tr>
</table>
