<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b7fdc8">  <td>23/12/28 15:49:25</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;post_TC1.Test_Teardown()[pri:0, instance:Test_package.post_TC1@7164ca4c]">&lt;&lt;Test_Teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@87674905</td>   <td></td> </tr>
<tr bgcolor="b7fdc8">  <td>23/12/28 15:49:21</td>   <td>-4278</td> <td>&nbsp;</td><td title="&gt;&gt;post_TC1.Test_Setup()[pri:0, instance:Test_package.post_TC1@7164ca4c]">&gt;&gt;Test_Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@87674905</td>   <td></td> </tr>
<tr bgcolor="b7fdc8">  <td>23/12/28 15:49:21</td>   <td>-3655</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="post_TC1.executor()[pri:0, instance:Test_package.post_TC1@7164ca4c]">executor</td> 
  <td>main@87674905</td>   <td></td> </tr>
</table>
